<hr />
<div id="issue_reminder">
  <div class="contextual">
    <%= link_to(l(:button_add) ) %>
  </div>
  <p><strong><%= l(:issue_reminder) %></strong></p>
  <div id="issue_reminder_list">
    <ul>
      <% reminders.each do |reminder|  %>
        <li><%= reminder.reminder_date%></li>
      <% end %>
    </ul>
  </div>
</div>
<div id="issue_reminder_form" style="display: none">
<%#<%= form_for (:reminder) do |f| %> 
<p><%#= f.text_field :reminder_date, :size => 10 %><%#= calendar_for('reminder_reminder_date') %></p>
  <%#<% end %>
</div>